.clear {
    zoom: 1;
}
.topBackColor{
    background-color: rgba(175, 175, 175, 0.36);
    height: 170px;
}
.regTip{
    display: none;
}
.listProvince{
    padding: 0px 10px 0px 35px;
}
.loadFail{
    display: none;
}
.listSchools{
    padding:20px 10px 0px 35px;
}
.tagsTip{
    color:#3a87ad;
    padding:0px 10px 0px 20px;
}
.userTags{
    width:300px;
    display: inline-block;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}
.fileupload-buttonbar{
    padding:50px 0px 10px 27px;
}
.userImageBox{
    width:200px;
    height:200px;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.container{
    margin-top: 50px;
}
.topContainer{
    height:170px;
}
.headerBox{
    width: 160px;
    height: 160px;
    padding: 5px;
    display: block;
    cursor: pointer;
}
.uploadHeader{
    background:black;
    color: white;
    height: 35px;
    line-height: 35px;
    text-align: center;
    top: -35px;
    padding: 0;
    position: relative;
    width: 100%;
    border-radius: 0 0 4px 4px;
    display: block;
}
.pencilColor{
    color: white;
}
.container .headerBox .uploadHeader .uploadAlink{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
.userBaseInfoBox{
    width:670px;
    height:160px;
    padding:5px 0px;
}
.userBaseInfoBox-Top{
    width:670px;
    height:30px;
}
.infoTips{
    padding:0px 5px;
}
.recommendInfoBox{
    width:670px;
    heigth:50px;
    padding-bottom: 25px;
}
.userPubMsgBox{
    width:670px;
    heigth:60px;
}
.pubTextAreaBox{
    width:450px;
    height:45px;
    resize:none;
}
.appendInputBox{
    margin-bottom: 0px;
}
.pubButton{
    height:55px;
}
.pubToolsBar{
    width:580px;
    heigth:30px;
}
.pubToolsBarRightLi{
    float: right;
}
.limitText{
    font-family: Constantia, Georgia;
}
.topUserRightBox{
    width:270px;
    height:160px;
    padding:0px 5px;
}
.userLeftBar{
    width:160px;
    height:300px;
    padding:15px 5px 0px 5px;
}
.userPubCenter{
    width: 670px;
    height: auto;
    padding:5px 0px;
}
.stautsButton{
    width:670px;
    height:35px;
    padding-top:5px;
    margin-top:6px;
    border-top: 1px solid #CAE5EF;
}
.stautsButton li{
    width: 84px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border: none;
    background: #1763a7;
    cursor: pointer;
}
.stautsButton li a{
    color:white;
}
.weiboListBox{
    widht:670px;
    height:auto;
}
.conWrap .userHeaderPic {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background: #ededed;
}
.conText {
    float: left;
    width: 600px;
    color: #333;
}
.conText .userLitleInfo{
    padding:8px 0px;
}
.conText .userLitleInfo .mb_name a{
    font-size: 18px;
    color: #2595B7;
}
.conText .userLitleInfo .sign{
    padding-left:15px;
    font-size: 13px;
}
.fromTime{
    font-size: 12px;
}
.otherUserToolBar a{
    padding:0px 5px;
    font-size: 12px;
}
.commentBox{
    width:100%;
    height:auto;
    padding:5px 0px;
}
.commentBox ul li{
    padding:5px;
    height: 32px;
    line-height: 32px;
    clear: both;
}
.comUserHeaderPic{
    float: left;
    width: 32px;
    height: 32px;
}
.userComContents{
    float: left;
    width:380px;
    line-height: 16px;
    font-size: 12px;
}
.comUserNick a{
    float: left;
    padding-left:12px;
    padding-right: 10px;
    line-height: 14px;
}
.userComTime{
    float: right;
    line-height: 18px;
}
.fromTime{
    padding:0px 10px;
}
.userComTextarea{
    width: 450px;
    height:35px;
    border:1px solid #2595B7;
    resize: none;
}
.userComToolsBar ul li{
   height: 25px;
   line-height: 25px;
   padding:0px 5px;
}
.userComButtonLi{
    float: right;
    margin-right:133px;
}
.userComButton{
    width: 66px;
    height: 30px;
}
.conWrap{
    height:auto;
    padding:5px 0px;
}
.addWrap{
    display: none;
}
.uploadImageBox{
    top: 0px;
    left: -65px;
    position: relative;
    display: none;
}
.fileButton{
    opacity: 0;
    font-size:30px;
    position: relative;
    top:-25px;
}
.uploadFileBtn{
    width: 248px;
    height:35px;
    line-height: 25px;
    cursor: pointer;
}
.uploadedImageBox{
    width:100%;
    padding:0px 12px;
}
.fileUploadError{
    display: none;
    width: 200px;
}
.uploadedImages{
    width:240px;
    margin-bottom: 15px;
}
.delButtonUploadImage{
    width:20px;
    height:20px;
    background: url(../images/ico_layer.png);
    position: relative;
    float: right;
    left:-28px;
    top:2px;
}
.shareUrl{
    top: 0px;
    left: -10px;
    position: relative;
    display: none;
}
.shareUrlBox{
    padding:5px 0px 0px 5px;
}